<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="page-container">
        <div class="page-masthead">
            <ul class="hud">
                <li class="hud-item">
                        <span class="hud-counter">Till</span>
                        <span class="hud-value"><%= stations.response[0].StationID %></span>
                </li>
                <li class="hud-item">
                        <span class="hud-counter">Operator</span>
                        <span class="hud-value">Frank Caron</span>
                </li>
                <li class="hud-item">
                    |
                </li>
                <li class="hud-item">
                    <span class="hud-counter">Cash</span>
                    <span class="hud-value">$400.00</span>
                </li>
                <li class="hud-item">
                        <span class="hud-counter">Date</span>
                        <span class="hud-value">
                            <script language="JavaScript">
                                var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/');
                                document.write(utc);
                            </script>
                        </span>
                    </li>
                <li class="hud-item">
                    <span class="hud-counter">Time</span>
                    <span class="hud-value">
                        <script language="JavaScript">
                            var time = new Date().toLocaleTimeString();
                            document.write(time);
                        </script>
                    </span>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-tiles">
                <div class="tile-set">

                    <!-- Menu Categories -->
                    <% for(var i=0; i<products.length; i++) {%>
                        <% if (products[i].ProductType == 'Chips') {%>
                            <div class="tile tile-red">
                                <div class="tile-image">
                                        <img class="thumbnail" src="<%=products[i].ProductImageURL%>" />
                                </div>
                                <div class="tile-title tile-title-red">
                                        <%= products[i].ProductName %>
                                </div>
                            </div>
                        <% } else if (products[i].ProductType == 'Deli') {%>
                                <div class="tile tile-yellow">
                                    <div class="tile-image">
                                            <img class="thumbnail" src="<%=products[i].ProductImageURL%>" />
                                    </div>
                                    <div class="tile-title tile-title-yellow">
                                            <%= products[i].ProductName %>
                                    </div>
                                </div>
                        <% } else { %>
                            <div class="tile tile-blue">
                                    <div class="tile-image">
                                            <img class="thumbnail" src="<%=products[i].ProductImageURL%>" />
                                    </div>
                                    <div class="tile-title tile-title-blue">
                                            <%= products[i].ProductName %>
                                    </div>
                                </div>
                        <% } %>    
                    <% } %>
                        

                </div>
            </div>
            <div class="page-tray">
                <div class="tray-offer">
                        <p class="offer-title">Offer</p>
                        <p class="offer-description">This is an offer that we will present to a server.</p>
                </div>
                <div class="tray-console">
                    <h2><%= stations.response[0].StoreType %></h2>
                </div>
                <div class="tray-order">

                    <div class="order-line-item">
                        <div class="order-header">
                            <div class="header-content">
                                Item
                            </div>
                        </div>
                        <div class="order-header">
                            <div class="header-content">
                                Price
                            </div>
                        </div>
                    </div>

                    <div class="order-line-item">
                        <div class="order-selected"></div>
                        <div class="order-item">
                            <div class="order-content">
                            Big Bob M Trio
                            </div>
                            <div class="order-content">
                                1 x $23.10
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="order-price">
                            $23.10
                            </div> 
                        </div>
                    </div>

                    <div class="order-line-item sent">
                            <div class="order-not-selected"></div>
                            <div class="order-item">
                                <div class="order-content">
                                Big Bob M Trio
                                </div>
                                <div class="order-content">
                                    1 x $23.10
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="order-price">
                                $23.10
                                </div> 
                            </div>
                        </div>
                    
                </div>
                <div class="tray-buttons">
                    <div class="tray-button">
                        <button type="button">Button 1</button>
                    </div>
                    <div class="tray-button-disabled">
                        <button type="button">Button 2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="menu-pagination">
                <div class="menu"><span class="menu-button">Other Orders</span></div>
                <div class="menu"><span class="pagination">Page 1 Of 1</span></div>
                <div class="menu"><span class="menu-button">Today's Menu</span></div>
            </div>
            <div class="checkout-button">
                <button type="button">Checkout $46.20</button>
            </div>
        </div>
    </div>
</body>
</html>